<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOD PDF</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        /*@font-face {
            font-family: 'graphik';
            src: url('https://www.enbiosis.com/fonts/Graphik/Graphik-Light.eot');
        }

        @font-face {
            font-family: 'graphik';
            font-weight: bold;
            src: url('https://www.enbiosis.com/fonts/Graphik/Graphik-Medium.eot');
        }

        @font-face {
            font-family: 'graphik';
            font-weight: bolder;
            src: url('https://www.enbiosis.com/fonts/Graphik/Graphik-Regular.eot');
        }*/
        
        @page {
            size: A4 portrait;
            margin: 0;
        }

        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            width: 100vw;
            height: 100vh;
            color: #484848;
        }

        /********* DEFULT STYLES ***********/
        .page {
            position: relative;
            overflow: hidden;
            page-break-after: always;
            font-size: 13pt;
            text-align: justify;
            padding: 70px;
        }

        .portrait {
            width: 8.5in;
            height: 12.62in;
        }

        .t-bold {
            font-weight: 600;
        }

        .t-center {
            text-align: center;
        }

        .t-margin {
            margin-bottom: 20px;
        }

        .t-capita {
            text-transform: capitalize;
        }

        .main-title {
            font-size: 19pt;
        }

        .alt-title {
            font-size: 19pt;
            margin-left: 20px;
        }

        .primary {
            color: #2597d3;
        }

        .secondary {
            color: #59c5d9;
        }

        .danger {
            color: #e3614d;
        }

        .average {
            color: #edd1a1;
        }

        .legendary {
            color: #565d68;
        }
        /********* DEFULT STYLES ***********/

        /********* MAIN PAGE ***********/
        .cover-img {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        .e-wrapper {
            position: absolute;
            width: 400px;
            left: calc(50% - 200px);
            top: calc(50% - 200px);
            text-align: center;
        }

        .e-Logo {
            width: 100%;
            margin-bottom: 30px;
        }

        .e-title {
            font-size: 50pt;
            color: #fff;
            letter-spacing: 0.1em;
        }

        .report-title {
            font-size: 22pt;
            position: absolute;
            width: 500px;
            left: calc(50% - 250px);
            bottom: 330px;
        }

        .e-purple {
            color: #4f4fa2;
        }
        /********* MAIN PAGE ***********/
        
        /********* HEADER ***********/
        .page-header {
            display: flex;
        }

        .page-header > div {
            line-height: 0.8em;
            font-size: 13pt;
        }

        .page-header > div > div {
            font-size: 11pt;
            color: #a8a8a8;
        }

        .report-name {
            margin-right: 60px;
        }

        .report-kitCode {
            margin-right: 40px;
        }
        
        .page-header label {
            font-size: 9pt;
        }

        .line-breaker {
            border-top: 1px solid #d7d7d7;
            border-radius: 15px;
            margin-bottom: 50px;
        }
        /********* HEADER ***********/

        /********* FOOTER ***********/
        .page-footer {
            position: absolute;
            bottom: 60px;
            left: calc(50% - 62.5px);
        }

        .footer-img {
            width: 125px;
        }
        /********* FOOTER ***********/

        /********* DEAR PAGE ***********/
        #dear-page {
            font-size: 15pt;
        }

        .list-item {
            display: flex;
        }

        .custom-dash {
            background: #2597d3;
            width: 7px;
            height: 4px;
            border-radius: 50px;
            margin-right: 5px;
            margin-top: 11px;
        }

        .i-title {
            width: calc(100% - 11px);
        }

        .dear-img {
            position: absolute;
            bottom: 120px;
            width: 450px;
            left: calc(50% - 225px);
        }
        /********* DEAR PAGE ***********/

        /********* FOOD EX PAGE ***********/
        .ex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .ex-wrapper {
            background: #f4f6f9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            width: 27.5%;
            margin: 0 2% 2% 0;
            font-size: 10.5pt;
        }
        /********* FOOD EX PAGE ***********/

        /********* FOOD PAGE ***********/
        .f-card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        
        .f-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 45%;
            padding: 15px;
            margin-bottom: 2%;
            border: 1px solid #e9ecf0;
            border-radius: 10px;
        }

        .f-img {
            width: 45px;
        }
        
        /********* FOOD PAGE ***********/

        /********* LAST PAGE ***********/
        .l-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .l-img {
            width: 400px;
            margin-bottom: 30px;
        }

        .l-footer {
            position: relative;
            bottom: 40px;
        }
        /********* LAST PAGE ***********/
    </style>
</head>
<body>
    {{!-- {{#printTest browser req kitCode registerDate allFoods}}
        {{body}}
    {{/printTest}} --}}
    
    <div id='main-page' class='page portrait'>
        <img class='cover-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/cover.png' alt='cover'/>
        <div class='e-wrapper'>
            <img class='e-Logo' src='https://enbiosis-pdf-generator.herokuapp.com/img/e-logo.png' alt='e-logo'/>
            <div class='e-title'>ENBIOSIS</div>
        </div>
        <div class='e-purple report-title t-center'>
            {{{trans req "f-report-title"}}}
        </div>
    </div>

    <div id='dear-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "f-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        <div class='t-bold t-margin'>
            
            {{{trans req "d-title"}}} 
            {{#unless isSecret}}
                {{userName}},
            {{/unless}}
            {{#if isSecret}}
                .....,
            {{/if}}
        </div>
        <div class='t-margin t-bold'>
            {{{trans req "fd-desc-0"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fd-desc-1"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fd-desc-2"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fd-desc-3"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fd-desc-4"}}}
        </div>
        <img class='dear-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/dear.png' alt='dear-image'/>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='food-manage-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "f-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        <div class='main-title t-bold t-margin primary'>
            {{{trans req "fm-title-0"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-0"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-1"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-2"}}}
        </div>
        <div class='t-margin'>
            <div>
                {{{trans req "fm-item-0"}}}
            </div>
            <div>
                {{{trans req "fm-item-1"}}}
            </div>
            <div>
                {{{trans req "fm-item-2"}}}
            </div>
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-3"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-4"}}}
        </div>
        <div class='main-title t-bold t-margin primary'>
            {{{trans req "fm-title-1"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-5"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "fm-desc-6"}}}
        </div>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='food-ex-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "f-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        {{#printFoodExamples req allFoods.foodItems}}
            {{body}}
        {{/printFoodExamples}}

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    {{#printAllFoods req isSecret kitCode registerDate foodList}}
        {{body}}
    {{/printAllFoods}}

    <div id='last-page' class='page portrait'>
        <div class='l-wrapper'>
            <img class='l-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
            {{#unless isSecret}}
                <div class='t-bold'>{{kitCode}}</div>
            {{/unless}}
            {{#if isSecret}}
                <div>.....</div>
            {{/if}}
        </div>
        <div class='e-email t-bold t-center l-footer'>enbiosis.com</div>
    </div>
</body>
</html>