<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIROBIOME PDF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        /*@font-face {
            font-family: 'graphik';
            src: url('https://www.enbiosis.com/fonts/Graphik/Graphik-Light.eot');
        }

        @font-face {
            font-family: 'graphik';
            font-weight: bold;
            src: url('https://www.enbiosis.com/fonts/Graphik/Graphik-Medium.eot');
        }

        @font-face {
            font-family: 'graphik';
            font-weight: bolder;
            src: url('https://www.enbiosis.com/fonts/Graphik/Graphik-Regular.eot');
        }*/
        
        @page {
            size: A4 portrait;
            margin: 0;
        }

        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            width: 100vw;
            height: 100vh;
            color: #484848;
        }

        /********* DEFULT STYLES ***********/
        .page {
            position: relative;
            overflow: hidden;
            page-break-after: always;
            font-size: 13pt;
            text-align: justify;
            padding: 70px;
        }

        .portrait {
            width: 8.5in;
            height: 12.62in;
        }

        .t-bold {
            font-weight: 600;
        }

        .t-italic {
            font-style: italic;
            margin-bottom: 40px;
        }

        .t-center {
            text-align: center;
        }

        .t-margin {
            margin-bottom: 20px;
        }

        .t-capita {
            text-transform: capitalize;
        }

        .main-title {
            font-size: 19pt;
        }

        .alt-title {
            font-size: 19pt;
            margin-left: 20px;
        }

        .primary {
            color: #2597d3;
        }

        .secondary {
            color: #59c5d9;
        }

        .legendary {
            color: #565d68;
        }
        
        .danger {
            color: #e3614d;
        }

        .average {
            color: #edd1a1;
        }

        .img {
            position: absolute;
            bottom: 120px;
        }
        
        .h-dark {
            fill: #2597d3;
        }

        /********* DEFULT STYLES ***********/

        /********* MAIN PAGE ***********/
        .cover-img {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        .e-wrapper {
            position: absolute;
            width: 400px;
            left: calc(50% - 200px);
            top: calc(50% - 200px);
            text-align: center;
        }

        .e-Logo {
            width: 100%;
            margin-bottom: 30px;
        }

        .e-title {
            font-size: 50pt;
            color: #fff;
            letter-spacing: 0.1em;
        }

        .report-title {
            font-size: 22pt;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 330px;
        }

        .e-purple {
            color: #4f4fa2;
        }

        .border-b {
            border-bottom: 1px solid #d7d7d7;
        }
        /********* MAIN PAGE ***********/
        
        /********* HEADER ***********/
        .page-header {
            display: flex;
        }

        .page-header > div {
            line-height: 0.8em;
            font-size: 13pt;
        }

        .page-header > div > div {
            font-size: 11pt;
            color: #a8a8a8;
        }

        .report-name {
            margin-right: 60px;
        }

        .report-kitCode {
            margin-right: 40px;
        }
        
        .page-header label {
            font-size: 9pt;
        }

        .line-breaker {
            border: 0.5px solid #d7d7d7;
            border-radius: 15px;
            margin-bottom: 50px;
        }
        /********* HEADER ***********/

        /********* FOOTER ***********/
        .page-footer {
            position: absolute;
            bottom: 60px;
            left: calc(50% - 62.5px);
        }

        .footer-img {
            width: 125px;
        }
        /********* FOOTER ***********/

        /********* DEAR PAGE ***********/
        #dear-page {
            font-size: 15pt;
        }

        .dear-img {
            width: 450px;
            left: calc(50% - 225px);
        }
        /********* DEAR PAGE ***********/
        
        /********* TEST PAGE ***********/
        .micro-props {
            margin-top: 10px;
        }

        .micro-props > div:nth-child(even) {
            margin-left: 60px;
        }

        .item-wrapper {
            display: flex;
            align-items: center;
        }

        .icon-container {
            margin-right: 10px;
            position: relative;
        }

        .item-icon {
            position: absolute;
            left: calc(50% - 12px);
            top: calc(50% - 12px);
        }

        .cls-1 {
            fill: #fff;
        }

        .micro-img {
            width: 650px;
            left: calc(50% - 290px);
        }
        /********* TEST PAGE ***********/

        /********* WORLD PAGE ***********/
        .w-container {
            display: flex;
            justify-content: center;
            padding-top: 15px;
        }

        .w-wrapper {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .mt-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .mt-primary {
            fill: #bbe4f9;
        }

        .mt-secondary {
            fill: #bfbfff;
        }

        .w-item-wrapper {
            display: flex;
            align-items: center;
        }

        .w-end-position {
            justify-content: flex-end;
        }

        .age, .range {
            width: 48%;
        }

        .mt-value {
            text-anchor: middle;
            font-size: 60pt;
        }

        .gs-title {
            margin: 0 10px;
        }

        .a-text {
            margin-right: 10px;
        }

        .r-text {
            margin-left: 10px;
        }

        .gs-container {
            width: 110%;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 20px;
        }

        .gs-item {
            width: 57%;
            position: absolute;
        }

        .gs-rank {
            margin: 0 10px;
        }

        .gs-container .gs-item:nth-child(even) {
            align-self: flex-end;
        }

        .gs-icon-container {
            position: relative;
        }

        .gs-icon {
            position: absolute;
            left: calc(50% - 17.5px);
            top: calc(50% - 17.5px);
        }

        .gs-cls {
            fill: #4f4fa2;
        }
        /********* WORLD PAGE ***********/

        /********* AGE PAGE ***********/
        .age-icon {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        /********* AGE PAGE ***********/

        /********* RANGE PAGE ***********/
        .mt-text {
            text-anchor: middle;
            font-size: 22pt;
        }
        /********* RANGE PAGE ***********/

        /********* TAX ENTRY PAGE ***********/
        .t-img-wrapper {
            position: relative;
        }

        .tax-entry-img {
            width: 100%;
            position: absolute;
            top: -70px;
        }

        .t-desc-wrapper {
            margin-top: 550px;
        }

        .t-desc {
            font-size: 14pt;
        }
        /********* TAX ENTRY PAGE ***********/

        /********* TAX PAGE ***********/
        .charts-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        .chart-wrapper {
            padding: 10px;
            border: 1.5px solid #e6e9f0;
            border-radius: 15px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .my-chart {
            width: 65%;
        }

        .tax-img {
            width: 100%;
            margin-bottom: 10px;
        }

        .tbs-container {
            width: 818px;
            height: 850px;
            position: absolute;
            bottom: 125px;
        }

        .tax-container {
            position: relative;
            width: 100%;
            height: 50px;
            border-radius: 30px;
        }

        .ts-container {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            border-radius: 30px;
        }

        .ts-value {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            background-color: #fff;
            width: 42.5px;
            height: 42.5px;
            margin-right: 4px;
            font-size: 10pt;
        }

        .legends-container {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            font-size: 11pt;
        }

        .legend-wrapper {
            margin: 0 7.5px 5px;
            display: flex;
            align-items: center;
        }

        .legend-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
        /********* TAX PAGE ***********/

        /********* CLOSE PAGE ***********/
        .close-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 30px;
        }

        .close-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 169px;
            height: 200px;
            border: 1px solid #d7d7d7;
            border-radius: 10px;
            padding: 10px;
            margin: 3px;
        }
        
        .close-title {
            font-size: 10pt;
            text-align: center;
        }

        .close-img {
            width: 135px;
        }

        .cpb-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 145px;
            height: 145px;
        }

        .cpb {
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotate(-90deg);
        }

        .cpb circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: #f3f8fa;
            stroke-width: 10;
        }

        .cpb circle:nth-child(2) {
            stroke-dasharray: 345;
            stroke-dashoffset: calc(345 - (345 * 25) / 100);
            stroke: #2597d3;
        }

        .close-value {
            font-size: 18pt;
        }
        /********* CLOSE PAGE ***********/

        /********* GS ENTRY PAGE ***********/
        .gs-entry-img {
            position: absolute;
            width: 600px;
            bottom: 20%;
            left: calc(50% - 300px);
        }
        /********* GS ENTRY PAGE ***********/

        /********* ALL SCORES PAGE ***********/
        .head-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            padding-left: 60px;
        }

        .title-wrapper {
            margin-left: 60px;
        }

        .sb-wrapper {
            position: absolute;
            width: 90%;
            bottom: 140px;
            left: calc(50% - 430px);
        }

        .sb-border {
            border: 0.5px solid #d7d7d7;
            border-radius: 15px;
            margin-bottom: 10px;
        }

        .score-bar-container {
            height: 350px;
        }

        .score-bar {
            height: 55px;
            width: 100%;
            border-radius: 30px;
            position: relative;
            top: 35%;
        }

        .score-bar-alt {
            position: absolute;
            height: 55px;
            width: 100%;
        }

        .s-container {
            display: flex;
            position: relative;
            width: 150px;
        }

        .s-type-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .s-title-wrapper {
            line-height: 1.1em;
            font-size: 11.5pt;
        }

        .s-t-padding {
            padding-top: 10px;
        }

        .arrow-icon {
            width: 40px;
        }

        .my-img {
            transform: rotate(180deg);
        }

        .s-display {
            flex-direction: column;
            align-items: center;
        }
        /********* ALL SCORES PAGE ***********/

        /********* Disease PAGE ***********/
        .dis-container {
            border: 1px solid #d7d7d7;
            border-radius: 10px;
            overflow: hidden;
        }

        .dis-header {
            padding: 10px 20px;
        }

        .dis-attr {
            display: flex;
            font-size: 1rem;
        }

        .dis-attr .dis-alt {
            width: 49%;
            margin-right: 1%;
        }

        .dis-status {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .dis-status-alt {
            display: flex;
            align-items: center;
            width: 25%;
        }

        .fas {
            font-size: 1.5rem;
        }
        .dis {
            width: 33%;
            margin-right: 1%;
            text-align: left;
        }

        .attr-wrapper {
            width: 64%;
            margin-right: 2%;
        }

        .attr-p {
            padding: 10px 0;
        }

        .attr-name {
            width: 75%;
            display: flex;
        }

        .links-wrapper {
            margin-left: 5px;
        }

        .ref-link {
            text-decoration: none;
        }

        .attr-value {
            display: flex;
        }

        .attr-status {
            width: 25px;
            height: 25px;
            border-radius: 50%;

        }
        /********* Disease PAGE ***********/

        /********* Nutrients PAGE ***********/
        .f-card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        
        .f-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 45%;
            padding: 15px;
            margin-bottom: 2%;
            border: 1px solid #e9ecf0;
            border-radius: 10px;
            text-align: left;
            font-size: 1rem;
        }

        .f-name {
            width: 80%;
        }

        .status {
            display: flex;
            width: 20%;
            justify-content: flex-end;
        }

        .rank {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 20px;
        }

        .rank > span {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #d7d7d7;
        }

        .f-value {
            width: 10px;
            text-align: center;
        }
        /********* Nutrients PAGE ***********/

        /********* Reference PAGE ***********/
        .ref-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 1100px;
        }

        .ref-container {
            width: 48.5%;
            margin-right: 1.5%;
            display: flex;
            font-size: 11pt;
        }

        .ref-num {
            margin-right: 5px;
        }
        /********* Reference PAGE ***********/

        /********* LAST PAGE ***********/
        .l-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .l-img {
            width: 400px;
            margin-bottom: 30px;
        }

        .l-footer {
            position: relative;
            bottom: 0;
        }

        .e-email {
            font-size: 20pt;
        }
        /********* LAST PAGE ***********/
    </style>
</head>
<body>
    {{!-- {{#printTest browser req kitCode registerDate healthInfo.diseases}}
        {{body}}
    {{/printTest}} --}}

    <div id='main-page' class='page portrait'>
        <img class='cover-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/cover.png' alt='cover'/>
        <div class='e-wrapper'>
            <img class='e-Logo' src='https://enbiosis-pdf-generator.herokuapp.com/img/e-logo.png' alt='e-logo'/>
            <div class='e-title'>ENBIOSIS</div>
        </div>
        <div class='e-purple report-title t-center'>
            {{{trans req "m-report-title"}}}
        </div>
    </div>

    <div id='dear-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        <div class='t-bold t-margin'>
            {{{trans req "d-title"}}} 
            {{#unless isSecret}}
                {{userName}},
            {{/unless}}
            {{#if isSecret}}
                .....,
            {{/if}}
        </div>
        <div class='t-margin'>
            {{{trans req "d-desc-0"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "d-desc-1"}}}
        </div>
        <div class='t-margin t-bold'>
            {{{trans req "d-desc-2"}}}
        </div>
        <div class='t-margin t-bold'>
            {{{trans req "d-desc-3"}}}
        </div>
        <div class='t-bold'>
            {{{trans req "d-prof-name"}}}
        </div>
        <img class='img dear-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/dear.png' alt='dear-image'/>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='test-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div class="report-date">
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>
        
        <div class='main-title t-bold t-margin primary'>
            {{{trans req "m-report-title"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "t-desc-0"}}}
        </div>
        <div class='t-bold primary'>
            {{{trans req "t-desc-1"}}}
        </div>
        <div class='t-margin micro-props'>
            <div class='item-wrapper'>
                <div class='icon-container'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.28 156.11" width='60' height='60'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path fill='#2597d3' d="M121,0H53.25A19.34,19.34,0,0,0,36.49,9.68L2.59,68.38a19.38,19.38,0,0,0,0,19.35l33.9,58.71a19.33,19.33,0,0,0,16.76,9.67H121a19.34,19.34,0,0,0,16.76-9.67l33.89-58.71a19.33,19.33,0,0,0,0-19.35L137.79,9.68A19.35,19.35,0,0,0,121,0Z"/>
                        </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.29 13.29" width='24' height='24' class='item-icon'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path class="cls-1" d="M12.88,0H.42A.42.42,0,0,0,0,.42V12.88a.42.42,0,0,0,.42.41H12.88a.42.42,0,0,0,.41-.41V.42A.42.42,0,0,0,12.88,0Zm-.42,12.46H.83V.83H12.46ZM3.67,4.51A.81.81,0,0,0,4.41,5H8.88a.81.81,0,0,0,.74-.46l.54-1.06a.86.86,0,0,0,0-.63.83.83,0,0,0-.42-.48h0A7.13,7.13,0,0,0,8,1.79l-.07,0h0a7.32,7.32,0,0,0-2.47,0h0l-.08,0a7.49,7.49,0,0,0-1.78.55.82.82,0,0,0-.41,1.1ZM4,4.34l.37-.19h0ZM5,2.71v.2a.41.41,0,0,0,.42.41.41.41,0,0,0,.41-.41V2.55a6.67,6.67,0,0,1,1.67,0v.36a.41.41,0,0,0,.41.41.41.41,0,0,0,.42-.41v-.2a7.54,7.54,0,0,1,1.1.38L8.88,4.15H4.41L3.88,3.09A7.54,7.54,0,0,1,5,2.71ZM4,11.63A1.45,1.45,0,0,0,5.4,10.18V10A3.67,3.67,0,0,1,6,7.91v0a1.12,1.12,0,0,0,.18-.62h0A1.68,1.68,0,0,0,4.36,5.81,1.68,1.68,0,0,0,2.49,7.27v2.91A1.45,1.45,0,0,0,4,11.63ZM3.32,7.27c0-.3.43-.62,1-.62s1,.32,1,.62a.37.37,0,0,1-.05.18A4.5,4.5,0,0,0,4.57,10v.19a.63.63,0,0,1-1.25,0Zm3.74,0h0a1.12,1.12,0,0,0,.18.62v0A3.67,3.67,0,0,1,7.89,10v.19a1.46,1.46,0,0,0,2.91,0V7.27A1.68,1.68,0,0,0,8.93,5.81,1.68,1.68,0,0,0,7.06,7.27Zm2.91,0v2.91a.63.63,0,0,1-1.25,0V10a4.5,4.5,0,0,0-.78-2.54.37.37,0,0,1-.05-.18c0-.3.43-.62,1-.62S10,7,10,7.27Z"/>
                        </g>
                        </g>
                    </svg>
                </div>
                <div class='primary t-bold'>
                    {{{trans req "t-item-0"}}}
                </div>
            </div>
            <div class='item-wrapper'>
                <div class='icon-container'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.28 156.11" width='60' height='60'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path fill='#2597d3' d="M121,0H53.25A19.34,19.34,0,0,0,36.49,9.68L2.59,68.38a19.38,19.38,0,0,0,0,19.35l33.9,58.71a19.33,19.33,0,0,0,16.76,9.67H121a19.34,19.34,0,0,0,16.76-9.67l33.89-58.71a19.33,19.33,0,0,0,0-19.35L137.79,9.68A19.35,19.35,0,0,0,121,0Z"/>
                        </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.42 15.33" width='24' height='24' class='item-icon'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path class="cls-1" d="M7.67,10.54H5.75a1,1,0,0,1-1-1v-1h-1a1,1,0,0,1-1-1V5.75a1,1,0,0,1,1-1h1v-1a1,1,0,0,1,1-1H7.67a1,1,0,0,1,1,1v1h1a1,1,0,0,1,.95,1V7.66a1,1,0,0,1-.95,1h-1v1A1,1,0,0,1,7.67,10.54ZM3.83,5.75V7.66H5.27a.48.48,0,0,1,.48.48V9.58H7.67V8.14a.48.48,0,0,1,.48-.48H9.59V5.75H8.15a.48.48,0,0,1-.48-.48V3.83H5.75V5.27a.48.48,0,0,1-.48.48Z"/>
                        <path class="cls-1" d="M6.71,15.33a2.57,2.57,0,0,1-.86-.16l-.67-.26A8.12,8.12,0,0,1,0,7.37V2.51A1.43,1.43,0,0,1,.83,1.2,14.23,14.23,0,0,1,6.71,0a14.15,14.15,0,0,1,5.87,1.2,1.43,1.43,0,0,1,.84,1.31V7.37a8.12,8.12,0,0,1-5.18,7.54l-.67.26A2.57,2.57,0,0,1,6.71,15.33ZM6.59,1A13.18,13.18,0,0,0,1.23,2.08.46.46,0,0,0,1,2.5H1V7.37A7.18,7.18,0,0,0,5.53,14l.66.25a1.44,1.44,0,0,0,1,0L7.89,14a7.16,7.16,0,0,0,4.57-6.65V2.51a.49.49,0,0,0-.27-.44A13.37,13.37,0,0,0,6.71,1Z"/>
                        </g>
                        </g>
                    </svg>
                </div>
                <div class='primary t-bold'>
                    {{{trans req "t-item-1"}}}
                </div>
            </div>
            <div class='item-wrapper'>
                <div class='icon-container'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.28 156.11" width='60' height='60'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path fill='#2597d3' d="M121,0H53.25A19.34,19.34,0,0,0,36.49,9.68L2.59,68.38a19.38,19.38,0,0,0,0,19.35l33.9,58.71a19.33,19.33,0,0,0,16.76,9.67H121a19.34,19.34,0,0,0,16.76-9.67l33.89-58.71a19.33,19.33,0,0,0,0-19.35L137.79,9.68A19.35,19.35,0,0,0,121,0Z"/>
                        </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.4 15.41" width='24' height='24' class='item-icon'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path class="cls-1" d="M14.67,8.67a3,3,0,0,0,.7-1.51,2.86,2.86,0,0,0-1.3-2.84,2.91,2.91,0,0,0,.36-1.59A2.9,2.9,0,0,0,9.37,1a2.11,2.11,0,0,0-.26.35,2.89,2.89,0,0,0-2.82,0A2.91,2.91,0,0,0,5.06.26,2.87,2.87,0,0,0,2.85.18,2.91,2.91,0,0,0,1.14,3.91c.06.14.12.27.19.4A2.91,2.91,0,0,0,.26,5.54,2.87,2.87,0,0,0,.18,7.75a3,3,0,0,0,.55.92,2.91,2.91,0,0,0-.15,3.66A2.87,2.87,0,0,0,2.4,13.44v1.47a.5.5,0,1,0,1,0V13.44a2.83,2.83,0,0,0,1.25-.53A2.94,2.94,0,0,0,5.76,11a2.85,2.85,0,0,0-.55-2.15L5.09,8.7h.63v1a1,1,0,0,0,1,1H8.34l-.15.19A2.88,2.88,0,0,0,7.73,13c-.78.26-2,.82-2,1.87a.5.5,0,0,0,.5.5.49.49,0,0,0,.49-.5c0-.24.36-.6,1.33-.94a2.89,2.89,0,0,0,2.5,1.44,3.27,3.27,0,0,0,.53-.05,2.93,2.93,0,0,0,2.24-2,2.9,2.9,0,0,0,2-3.3A3,3,0,0,0,14.67,8.67Zm-8,1V8.2a.5.5,0,0,0-.5-.5H4.73v-2H6.21a.49.49,0,0,0,.5-.49V3.74h2V5.23a.49.49,0,0,0,.49.49h1.49v2H9.17a.5.5,0,0,0-.48.5V9.69Zm3.6-1a2.74,2.74,0,0,0-.58,1l-.05,0V8.7Zm2.54,3.76a.51.51,0,0,0-.4.4,1.9,1.9,0,0,1-3.65.33h0a1.68,1.68,0,0,1-.09-.32,1.89,1.89,0,0,1,1.51-2.22.51.51,0,0,0,.4-.4,1.86,1.86,0,0,1,.73-1.18.49.49,0,0,0,.19-.39.48.48,0,0,0-.12-.33,1,1,0,0,0,.23-.64v-2a1,1,0,0,0-1-1h-1v-1a1,1,0,0,0-1-1h-2a1,1,0,0,0-1,1v1h-1a1,1,0,0,0-1,1v2A1,1,0,0,0,4,8.34a.49.49,0,0,0-.13.33.5.5,0,0,0,.2.39,2,2,0,0,1,.38.38A1.91,1.91,0,0,1,4,12.11a1.88,1.88,0,0,1-1.14.38H2.63a1.91,1.91,0,0,1-.88-3.42A.47.47,0,0,0,2,8.67a.48.48,0,0,0-.2-.4,2,2,0,0,1-.64-.86A1.9,1.9,0,0,1,1.16,6,1.92,1.92,0,0,1,2.23,5a.5.5,0,0,0,.2-.8,1.81,1.81,0,0,1-.36-.6A1.9,1.9,0,1,1,5.64,2.23a.5.5,0,0,0,.8.2A1.89,1.89,0,0,1,9,2.43a.49.49,0,0,0,.45.11.46.46,0,0,0,.34-.31,1.87,1.87,0,0,1,.36-.59A1.91,1.91,0,0,1,13,4.16a.5.5,0,0,0-.11.45.5.5,0,0,0,.3.35A1.83,1.83,0,0,1,14,5.6a1.91,1.91,0,0,1-.38,2.67.49.49,0,0,0,0,.79,1.86,1.86,0,0,1,.73,1.18A1.9,1.9,0,0,1,12.85,12.46Z"/>
                        </g>
                        </g>
                    </svg>
                </div>
                <div class='primary t-bold'>
                    {{{trans req "t-item-2"}}}
                </div>
            </div>
            <div class='item-wrapper'>
                <div class='icon-container'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.28 156.11" width='60' height='60'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path fill='#2597d3' d="M121,0H53.25A19.34,19.34,0,0,0,36.49,9.68L2.59,68.38a19.38,19.38,0,0,0,0,19.35l33.9,58.71a19.33,19.33,0,0,0,16.76,9.67H121a19.34,19.34,0,0,0,16.76-9.67l33.89-58.71a19.33,19.33,0,0,0,0-19.35L137.79,9.68A19.35,19.35,0,0,0,121,0Z"/>
                        </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.4 13.4" width='24' height='24' class='item-icon'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path class="cls-1" d="M12.14,13.4H10.47a.42.42,0,0,1,0-.84h1.67a.42.42,0,0,0,.42-.42V10.47a.42.42,0,0,1,.84,0v1.67A1.25,1.25,0,0,1,12.14,13.4Z"/>
                        <path class="cls-1" d="M13,3.35a.42.42,0,0,1-.42-.42V1.26a.42.42,0,0,0-.42-.42H10.47a.42.42,0,0,1-.42-.42A.42.42,0,0,1,10.47,0h1.67A1.25,1.25,0,0,1,13.4,1.26V2.93A.42.42,0,0,1,13,3.35Z"/>
                        <path class="cls-1" d="M.42,3.35A.42.42,0,0,1,0,2.93V1.26A1.25,1.25,0,0,1,1.26,0H2.93a.42.42,0,0,1,.42.42.42.42,0,0,1-.42.42H1.26a.42.42,0,0,0-.42.42V2.93A.42.42,0,0,1,.42,3.35Z"/>
                        <path class="cls-1" d="M2.93,13.4H1.26A1.25,1.25,0,0,1,0,12.14V10.47a.42.42,0,0,1,.42-.42.42.42,0,0,1,.42.42v1.67a.42.42,0,0,0,.42.42H2.93a.42.42,0,0,1,0,.84Z"/>
                        <path class="cls-1" d="M8.32,11.72a.41.41,0,0,1-.42-.41V9.42a.41.41,0,0,1,.15-.32A.41.41,0,0,1,8.39,9l.39.07a.74.74,0,0,0,.56-.14.78.78,0,0,0,.31-.48c0-.05,0-.09,0-.13v-1A.43.43,0,0,1,10,7l.37-.09a.14.14,0,0,0,.1-.07.24.24,0,0,0,0-.13.08.08,0,0,0,0,0L9.73,5.55a.39.39,0,0,1-.07-.23V5a2.31,2.31,0,0,0-.79-1.7,3.38,3.38,0,0,0-2.59-.8A3.1,3.1,0,0,0,5,8.29a.42.42,0,0,1,.21.36v2.66a.42.42,0,0,1-.84,0V8.89A3.94,3.94,0,0,1,6.2,1.69a4.18,4.18,0,0,1,3.23,1A3.09,3.09,0,0,1,10.5,5v.16l.63,1a.92.92,0,0,1,.14.32,1,1,0,0,1-.73,1.21l0,0v.63a1.1,1.1,0,0,1,0,.26A1.57,1.57,0,0,1,8.74,9.91v1.4A.41.41,0,0,1,8.32,11.72Z"/>
                        </g>
                        </g>
                    </svg>
                </div>
                <div class='primary t-bold'>
                    {{{trans req "t-item-3"}}}
                </div>
            </div>
            <div class='item-wrapper'>
                <div class='icon-container'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.28 156.11" width='60' height='60'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path fill='#2597d3' d="M121,0H53.25A19.34,19.34,0,0,0,36.49,9.68L2.59,68.38a19.38,19.38,0,0,0,0,19.35l33.9,58.71a19.33,19.33,0,0,0,16.76,9.67H121a19.34,19.34,0,0,0,16.76-9.67l33.89-58.71a19.33,19.33,0,0,0,0-19.35L137.79,9.68A19.35,19.35,0,0,0,121,0Z"/>
                        </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.2 13.2" width='24' height='24' class='item-icon'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path class="cls-1" d="M6.6,13.2a6.6,6.6,0,1,1,6.6-6.6A6.61,6.61,0,0,1,6.6,13.2ZM6.6.83A5.78,5.78,0,1,0,12.38,6.6,5.79,5.79,0,0,0,6.6.83Z"/>
                        <path class="cls-1" d="M6.61,11.56a4.55,4.55,0,0,1-4.29-3,.87.87,0,0,1,0-.28.81.81,0,0,1,.25-.58.78.78,0,0,1,.58-.24h7a.78.78,0,0,1,.75.47.81.81,0,0,1,0,.63A4.53,4.53,0,0,1,8.11,11.3,4.64,4.64,0,0,1,6.61,11.56ZM3.1,8.25h0a3.71,3.71,0,0,0,7,0Z"/>
                        <path class="cls-1" d="M9.08,5.16a.62.62,0,1,1,.62-.62A.62.62,0,0,1,9.08,5.16Zm0-.83a.21.21,0,1,0,.2.21A.21.21,0,0,0,9.08,4.33Z"/>
                        <path class="cls-1" d="M4.13,5.16a.62.62,0,0,1,0-1.24.62.62,0,0,1,0,1.24Zm0-.83a.21.21,0,1,0,.2.21A.21.21,0,0,0,4.13,4.33Z"/>
                        </g>
                        </g>
                    </svg>
                </div>
                <div class='primary t-bold'>
                    {{{trans req "t-item-4"}}}
                </div>
            </div>
            <div class='item-wrapper'>
                <div class='icon-container'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.28 156.11" width='60' height='60'>
                        <g id="Layer_2" data-name="Layer 2">
                        <g id="_1" data-name="1">
                        <path fill='#2597d3' d="M121,0H53.25A19.34,19.34,0,0,0,36.49,9.68L2.59,68.38a19.38,19.38,0,0,0,0,19.35l33.9,58.71a19.33,19.33,0,0,0,16.76,9.67H121a19.34,19.34,0,0,0,16.76-9.67l33.89-58.71a19.33,19.33,0,0,0,0-19.35L137.79,9.68A19.35,19.35,0,0,0,121,0Z"/>
                        </g>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.23 14.1" width='24' height='24' class='item-icon'>
                    <g id="Layer_2" data-name="Layer 2">
                    <g id="_1" data-name="1">
                    <path class="cls-1" d="M11.61,7.93h-5a.44.44,0,0,0-.44.44v2.2H5.49a1.73,1.73,0,0,0,.24-.88,1.77,1.77,0,0,0-3.53,0,1.74,1.74,0,0,0,.25.88H.88V8.37a.44.44,0,0,0-.44-.44A.44.44,0,0,0,0,8.37v5.29a.44.44,0,0,0,.44.44.44.44,0,0,0,.44-.44v-.44H12.35v.44a.44.44,0,0,0,.44.44.44.44,0,0,0,.44-.44V9.55A1.62,1.62,0,0,0,11.61,7.93ZM4,8.81a.88.88,0,1,1,0,1.76A.88.88,0,1,1,4,8.81Zm8.38,3.53H.88v-.89H12.35Zm0-1.77H7.05V8.81h4.56a.74.74,0,0,1,.74.74ZM4.41,5.29h.88v.88a.89.89,0,0,0,.88.88H7.94a.89.89,0,0,0,.88-.88V5.29H9.7a.88.88,0,0,0,.88-.88V2.64a.88.88,0,0,0-.88-.88H8.82V.88A.89.89,0,0,0,7.94,0H6.17a.89.89,0,0,0-.88.88v.88H4.41a.88.88,0,0,0-.88.88V4.41A.88.88,0,0,0,4.41,5.29Zm0-2.65H5.73a.43.43,0,0,0,.44-.44V.88H7.94V2.2a.43.43,0,0,0,.44.44H9.7V4.41H8.38a.43.43,0,0,0-.44.44V6.17H6.17V4.85a.43.43,0,0,0-.44-.44H4.41Z"/>
                    </g>
                    </g>
                    </svg>
                </div>
                <div class='primary t-bold'>
                    {{{trans req "t-item-5"}}}
                </div>
            </div>
        </div>
        <img class='img micro-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/micro-test.png' alt='micro-image'/>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='world-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        <div class='main-title t-bold t-margin primary'>
            {{{trans req "w-title"}}}
        </div>
        {{#unless isHealth}}
            <div>
                {{{trans req "w-desc-0"}}}
            </div>
            <div class='t-margin'>
                {{{trans req "w-desc-1"}}}
            </div>
        {{/unless}}
        {{#if isHealth}}
            <div style="margin-bottom: 15px;">
                ENBIOSIS Mikrobiyom Analiz Raporu’nun temeli Türkiye ve dünya üzerinden elde edilen binlerce bireyin bağırsak örneği ile analiz edilen bakteriler ve besin-bakteri ilişkisine yönelik literatür taraması ve tüm bu verilerin yapay zeka algoritmamıza aktarılarak sonuç elde edilmesine dayanır. Sonuçlarının mevcut durumu aşağıda belirtilmiştir.
            </div>
        {{/if}}
        <div class='w-container'>
            <div class='w-wrapper'>
                <div class='mt-container t-margin'>
                    <div class='w-item-wrapper w-end-position age'>
                        {{#printAgeValue isHealth req microTestResult.Age}}
                            {{body}}
                        {{/printAgeValue}}
                    </div>
                    <div class='w-item-wrapper range'>
                        {{#printRangeValue isHealth req microTestResult.range}}
                            {{body}}
                        {{/printRangeValue}}
                    </div>
                </div>
                <div class='main-title t-bold'>
                    {{{trans req "w-gut-title"}}}
                </div>
                <div class='gs-container'>
                    {{#printWorldSvgs isHealth req allScoresPDF}}
                        {{body}}
                    {{/printWorldSvgs}}
                </div>
            </div>
        </div>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='age-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        {{#printMicroAge microTestResult.Age}}
            {{body}}
        {{/printMicroAge}}

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='range-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        {{#printMicroRange microTestResult.range}}
            {{body}}
        {{/printMicroRange}}

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    <div id='tax-entry-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        <div class='main-title t-bold t-margin primary'>
            {{{trans req "tax-title"}}}
        </div>
        <div class='t-img-wrapper'>
            <img class='tax-entry-img' src={{{trans req "tax-img"}}} alt='tax-entry'/>
        </div>
        <div class='t-desc-wrapper'>
            <div class='t-margin t-bold t-italic primary t-desc'>
                {{{trans req "tax-note"}}}
            </div>
            <div class='t-margin'>
                {{{trans req "tax-desc"}}}
            </div>
        </div>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>

    {{!-- {{#printTaxResults kitCode registerDate taxonomicResult taxImgs}}
        {{body}}
    {{/printTaxResults}} --}}

    {{#printTaxResults req isSecret kitCode registerDate taxForPDF}}
        {{body}}
    {{/printTaxResults}}

    <div id='close-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                {{#unless isSecret}}
                    <div>{{kitCode}}</div>
                {{/unless}}
                {{#if isSecret}}
                    <div>.....</div>
                {{/if}}
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>

        <div class='main-title t-bold t-margin primary'>
            {{{trans req "c-title"}}}
        </div>
        <div class='t-margin'>
            {{{trans req "c-desc-0"}}}
        </div>
        <div class='t-bold t-margin'>
            {{{trans req "c-desc-1"}}}
        </div>
        <div class='close-container'>
            {{#printCloseProfiles closeProfiles}}
                {{body}}
            {{/printCloseProfiles}}
        </div>

        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>
    
    {{#unless isHealth}}
        <div id='gs-entry-page' class='page portrait'>
            <div class='page-header'>
                <div class='report-name'>
                    <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                    <div>{{{trans req "m-report-title"}}}</div>
                </div>
                <div class='report-kitCode'>
                    <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                    {{#unless isSecret}}
                        <div>{{kitCode}}</div>
                    {{/unless}}
                    {{#if isSecret}}
                        <div>.....</div>
                    {{/if}}
                </div>
                <div>
                    <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                    <div>{{registerDate}}</div>
                </div>
            </div>
            <hr class='line-breaker'>

            <div class='main-title t-bold t-margin primary'>
                {{{trans req "gs-title"}}}
            </div>
            <div class='t-margin'>
                {{{trans req "gs-desc-0"}}}
            </div>
            <div class='t-margin'>
                {{{trans req "gs-desc-1"}}}
            </div>
            <div class='t-margin'>
                {{{trans req "gs-desc-2"}}}
            </div>
            <img class='gs-entry-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/gut.png' alt='gs-entry'/>

            <div class='page-footer'>
                <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
            </div>
        </div>

        {{#printAllScores req isSecret kitCode registerDate allScoresPDF}}
            {{body}}
        {{/printAllScores}}
    {{/unless}}

    {{#if isHealth}}
        {{#printDiseases browser req isSecret kitCode registerDate doctorData.diseases}}
            {{body}}
        {{/printDiseases}}

        {{#printNutrients req isSecret kitCode registerDate doctorData.nutrients}}
            {{body}}
        {{/printNutrients}}

        {{#printReferences req isSecret kitCode registerDate doctorData.references}}
            {{body}}
        {{/printReferences}}
    {{/if}}

    <div id='last-page' class='page portrait'>
        <div class='l-wrapper'>
            <img class='l-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
            {{#unless isSecret}}
                <div class='t-bold'>{{kitCode}}</div>
            {{/unless}}
            {{#if isSecret}}
                <div>.....</div>
            {{/if}}
        </div>
        <div class='e-email t-bold t-center l-footer'>enbiosis.com</div>
    </div>
</body>
</html>