<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Nutrition Program</title>
    <style>
        @page {
            size: A4 portrait;
            margin: 0;
        }
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            width: 100vw;
            height: 100vh;
            color: #484848;
        }

        .page {
            position: relative;
            overflow: hidden;
            page-break-after: always;
            font-size: 13pt;
            text-align: justify;
            padding: 70px;
        }

        .portrait {
            width: 8.5in;
            height: 12.62in;
        }

        .primary {
            color: #2597d3;
        }

        .secondary {
            color: #59c5d9;
        }

        .legendary {
            color: #565d68;
        }

        .t-margin {
            margin-bottom: 20px;
        }

        .t-bold {
            font-weight: 600;
        }

        .t-capita {
            text-transform: capitalize;
        }

        .t-center {
            text-align: center;
        }

        .border-b {
            border-bottom: 1px solid #d7d7d7;
        }
        /********* MAIN PAGE ***********/
        .cover-img {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        .e-wrapper {
            position: absolute;
            width: 400px;
            left: calc(50% - 200px);
            top: calc(50% - 200px);
            text-align: center;
        }

        .e-Logo {
            width: 100%;
            margin-bottom: 30px;
        }

        .e-title {
            font-size: 50pt;
            color: #fff;
            letter-spacing: 0.1em;
        }

        .report-title {
            font-size: 22pt;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 330px;
        }

        .e-purple {
            color: #4f4fa2;
        }

        .border-b {
            border-bottom: 1px solid #d7d7d7;
        }
        /********* MAIN PAGE ***********/

        /********* HEADER ***********/
        .page-header {
            display: flex;
        }

        .page-header > div {
            line-height: 0.8em;
            font-size: 13pt;
        }

        .page-header > div > div {
            font-size: 11pt;
            color: #a8a8a8;
        }

        .report-name {
            margin-right: 60px;
        }

        .report-kitCode {
            margin-right: 40px;
        }
        
        .page-header label {
            font-size: 9pt;
        }

        .dates-container-header {
            margin-left: auto;
            margin-top: auto;
        }

        .pC-icon-header {
            margin-right: 5px;
            color: #4f4fa2;
        }

        .line-breaker {
            border: 0.5px solid #d7d7d7;
            border-radius: 15px;
            margin-bottom: 50px;
        }
        /********* HEADER ***********/

        /********* FOOTER ***********/
        .page-footer {
            position: absolute;
            bottom: 60px;
            left: calc(50% - 62.5px);
        }

        .footer-img {
            width: 125px;
        }
        /********* FOOTER ***********/

        /********* CONTENT PAGE ***********/
        .dates-container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 250px;
            color: white;
            font-size: 16pt;
        }

        .pC-icon {
            margin-right: 10px;
            color: #4f4fa2;
            font-size: 16pt;
        }

        .con-type {
            font-size: 19pt;
            display: flex;
            align-items: center;
        }

        .meal-img {
            width: 40px;
            margin-right: 10px;
        }

        .con-details {
            margin-left: 50px;
        }
        /********* CONTENT PAGE ***********/

        /********* LAST PAGE ***********/
        .l-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .l-img {
            width: 400px;
            margin-bottom: 30px;
        }

        .l-footer {
            position: relative;
            bottom: 0;
        }

        .e-email {
            font-size: 20pt;
        }
        /********* LAST PAGE ***********/
    </style>
</head>
<body>
    <div id='main-page' class='page portrait'>
        <img class='cover-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/cover.png' alt='cover'/>
        <div class='e-wrapper'>
            <img class='e-Logo' src='https://enbiosis-pdf-generator.herokuapp.com/img/e-logo.png' alt='e-logo'/>
            <div class='e-title'>ENBIOSIS</div>
        </div>
        <div class='e-purple report-title t-center'>
            {{{trans req "nP-title"}}}
        </div>
        <div class='dates-container'>
            <i class="far fa-calendar-alt pC-icon"></i>
            <span>{{start_date}}</span> - <span>{{end_date}}</span>
        </div>
    </div>

    {{#printNutritionProgram browser req kitCode registerDate content start_date end_date}}
        {{body}}
    {{/printNutritionProgram}}

    <div id='last-page' class='page portrait'>
        <div class='l-wrapper'>
            <img class='l-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
            <div class='t-bold'>{{kitCode}}</div>
        </div>
        <div class='e-email t-bold t-center l-footer'>enbiosis.com</div>
    </div>
</body>
</html>