<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Test</title>
    <style>
        @page {
            size: A4 portrait;
            margin: 0;
        }
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            width: 100vw;
            height: 100vh;
            color: #484848;
        }

        .page {
            position: relative;
            overflow: hidden;
            page-break-after: always;
            font-size: 13pt;
            text-align: justify;
            padding: 70px;
        }

        .portrait {
            width: 8.5in;
            height: 12.62in;
        }

        .primary {
            color: #2597d3;
        }

        .secondary {
            color: #59c5d9;
        }

        .legendary {
            color: #565d68;
        }

        .t-margin {
            margin-bottom: 20px;
        }
        
        .main-title {
            font-size: 19pt;
        }

        .t-bold {
            font-weight: 600;
        }

        .t-capita {
            text-transform: capitalize;
        }

        .t-center {
            text-align: center;
        }

        .border-b {
            border-bottom: 1px solid #d7d7d7;
        }
        /********* MAIN PAGE ***********/
        .cover-img {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        .e-wrapper {
            position: absolute;
            width: 400px;
            left: calc(50% - 200px);
            top: calc(50% - 200px);
            text-align: center;
        }

        .e-Logo {
            width: 100%;
            margin-bottom: 30px;
        }

        .e-title {
            font-size: 50pt;
            color: #fff;
            letter-spacing: 0.1em;
        }

        .report-title {
            font-size: 22pt;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 330px;
        }

        .e-purple {
            color: #4f4fa2;
        }

        .border-b {
            border-bottom: 1px solid #d7d7d7;
        }
        /********* MAIN PAGE ***********/

        /********* HEADER ***********/
        .page-header {
            display: flex;
        }

        .page-header > div {
            line-height: 0.8em;
            font-size: 13pt;
        }

        .page-header > div > div {
            font-size: 11pt;
            color: #a8a8a8;
        }

        .report-name {
            margin-right: 60px;
        }

        .report-kitCode {
            margin-right: 40px;
        }
        
        .page-header label {
            font-size: 9pt;
        }

        .line-breaker {
            border: 0.5px solid #d7d7d7;
            border-radius: 15px;
            margin-bottom: 50px;
        }
        /********* HEADER ***********/

        /********* FOOTER ***********/
        .page-footer {
            position: absolute;
            bottom: 60px;
            left: calc(50% - 62.5px);
        }

        .footer-img {
            width: 125px;
        }
        /********* FOOTER ***********/

        /********* Disease PAGE ***********/
        /*#content {
            height: 1100px;
        }*/

        .dis-container {
            border: 1px solid #d7d7d7;
            border-radius: 10px;
            overflow: hidden;
        }
        .dis-header {
            padding: 10px 20px;
        }
        .dis-attr {
            display: flex; 
            font-size: 1rem;
        }
        .dis-attr .dis-alt {
            width: 49%; 
            margin-right: 1%;
        }
        .dis {
            width: 33%; 
            margin-right: 1%; 
            text-align: left;
        }
        .attr-wrapper {
            width: 64%; 
            margin-right: 2%;
        }
        .attr-p {
            padding: 10px 0;
        }
        .attr-name {
            width: 75%; 
            display: flex;
        }
        .links-wrapper {
            margin-left: 5px;
        }
        .ref-link {
            text-decoration: none;
        }
        .attr-value {
            display: flex;
        }
        .rank {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 20px;
        }
        .rank > span {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #d7d7d7;
        }
        /********* Disease PAGE ***********/

        /********* CONTENT PAGE ***********/
        .con-type {
            font-size: 19pt;
        }
        /********* CONTENT PAGE ***********/

        /********* TEST PAGE ***********/
        .food-container {
            width: 440px;
            height: 765px;
            padding: 30px;
        }
        
        .food-item-card {
            margin-bottom: 20px;
            padding: 10px 30px;
            border: 1px solid #e9ecf0;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .f-img {
            width: 45px;
        }
        /********* TEST PAGE ***********/
    </style>
</head>
<body>
    {{!-- <div id='test' class='page portrait'>
        {{#printSomeFood}}
            {{body}}
        {{/printSomeFood}}
    </div> --}}

    {{!-- <div id='main-page' class='page portrait'>
        <img class='cover-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/cover.png' alt='cover'/>
        <div class='e-wrapper'>
            <img class='e-Logo' src='https://enbiosis-pdf-generator.herokuapp.com/img/e-logo.png' alt='e-logo'/>
            <div class='e-title'>ENBIOSIS</div>
        </div>
        <div class='e-purple report-title t-center'>
            Rapor Yorumu
        </div>
    </div> --}}

    <div id='test-page' class='page portrait'>
        <div class='page-header'>
            <div class='report-name'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-0"}}}</label>
                <div>{{{trans req "m-report-title"}}}</div>
            </div>
            <div class='report-kitCode'>
                <label class='t-bold secondary'>{{{trans req "p-head-l-1"}}}</label>
                <div>{{kitCode}}</div>
            </div>
            <div>
                <label class='t-bold secondary'>{{{trans req "p-head-l-2"}}}</label>
                <div>{{registerDate}}</div>
            </div>
        </div>
        <hr class='line-breaker'>
        
        <div id='content'></div>
        
        <div class='page-footer'>
            <img class='footer-img' src='https://enbiosis-pdf-generator.herokuapp.com/img/logo-2x.png' alt='enbiosis-logo'/>
        </div>
    </div>
</body>
</html>